.admin-panel
  background: $primary-color-admin
  height: 100vh

.admin-nav
  width: 100%

  li
    width: 100%

    a
      display: block
      width: 100%
      padding: 20px 30px
      color: #fff
      &:hover
        background: rgba(0, 0, 0, 0.30)
        padding: 20px 35px
        -webkit-transition: .3s ease-out
        transition: .3s ease-out

.admin-container
  position: relative
  background: #fff
  padding: 20px

  .article_add
    position: relative
    a
      position: absolute
      top: -20px
      right: 20px

.article
  position: relative
  background: rgba(0, 0, 0, 0.1)
  margin: 10px 0 0


  .article_img
    img
      padding: 20px 0
      width: 100%
      float: left

  .article_title
    padding: 20px
    font-weight: bold
    font-size: 20px

.article_menu
  display: block
  width: 100%
  background: #373737
  padding: 20px

  a
    display: inline-block
    padding: 10px
    color: #fff
    i
      color: #fff
      font-size: 20px


.admin-footer
  color: #fff
  background-color: $primary-color-admin
  position: absolute
  bottom: 0
  left: 0
  right: 0

.footer
  width: 100%

  .row
    padding: 20px
    margin-bottom: 0


