.admin-panel
  background: $primary-color-admin
  height: 100vh
  .row
    .col
      padding: 0!important

.admin-nav
  width: 100%

  li
    width: 100%

    a
      display: block
      width: 100%
      padding: 20px 30px
      color: #fff
      &:hover
        background: rgba(0, 0, 0, 0.30)
        padding: 20px 35px
        -webkit-transition: .3s ease-out
        transition: .3s ease-out


.admin-footer
  color: #fff
  background-color: $primary-color-admin
  position: absolute
  bottom: 0
  left: 0
  right: 0

.footer
  width: 100%

  .row
    padding: 20px
    margin-bottom: 0


