/**** Imports ****/

@import "compass/reset"
@import "_settings.sass"
@import "_fonts.scss"
@import "admin"


/**** Styles *****/

a
  color: $primary-color-link

i
  color: $secondary-color

body
  background: $primary-color
  height: 100%
  font-family: Roboto

nav
  background-color: $primary-color!important
  padding: 0 20px
  font-weight: bold
  ul
    a
      padding: 24px 15px
  a
    color: $primary-color-nav-link!important

.logo
  height: 64px
  position: relative
  box-shadow: none

  img
    display: block
    margin: 10px 0 0 30px
    max-height: 60px

nav
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0)!important
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0)!important

  i.fa-bars
    font-size: 30px

.header-nav
  nav
    padding-left: 40px

.article_view
  h1
    padding: 10px 0px
    font-size: 25px
    font-weight: bold
  img
    max-width: 100%

.main-panel
  margin-top: 10px
  border: 1px solid $primary-color-nav-link

  .main-panel-header
    color: $primary-color
    background: $primary-color-nav-link
    padding: 20px 10px
    text-align: center
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0)!important
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0)!important

  .main-panel-content
    .last-advertisement
      padding: 10px

      a
        width: 100%
        display: block
        text-align: right

    .SinoptikInformer
      padding: 10px

.row
  position: relative

.card .card-title
  font-size: 18px

.user
  text-align: right
  margin-right: 10px

  .user_info
    display: inline-block
    a,span
      display: block
      padding: 5px 20px

  .user_img
    display: inline-block
    img
      max-width: 80px

  .user_auth
    a
      padding: 20px

.pin
  display: none

.page-footer
  color: #000000
  background-color: $primary-color

.footer
  width: 100%

  .row
    padding: 20px
    margin-bottom: 0

.block404
  p
    padding: 20px 0
    font-size: 20px
    font-weight: bold
    color: #ff4f4f
    text-align: center
  img
    display: block
    max-width: 50%
    margin: 0 auto
  a
    display: block
    margin: 0 auto
    max-width: 50%

.notright
  a
    margin: 0 auto
    display: block
    max-width: 30%

  p
    padding: 20px 0
    font-size: 20px
    font-weight: bold
    color: #ff4f4f
    text-align: center

.profile
  min-height: 310px
  .profile_img
    float: left
    margin-right: 20px
    img
      max-height: 300px
  .profile_info
    min-width: 300px
    .profile_block_info
      display: block
      p
        display: block
        margin: 10px 0
        font-size: 20px
        font-weight: bold
      span
        font-size: 18px
        margin: 0 20px

.img_core
  position: relative
  max-height: 300px
  overflow: hidden

  .img_cut
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto

/***** Публічний чат  ******/
.chat
  .chat-window
    height: 500px
    overflow-y: scroll
    overflow-x: hidden

    .chat-message
      padding: 20px
      .chat-message-img
        img
          width: 100%
          min-width: 50px
      .chat-message-text
        min-height: 40px
        margin-left: 70px
  .chat-area
    padding: 0 30px 20px
  #insertImage-1
    display: none
  #insertVideo-1
    display: none
  #insertFile-1
    display: none
  .fr-hs
    display: none

  .chat-access
    background-color: rgba(255, 79, 79, 0.81)
    padding-bottom: 20px
    p
      padding: 20px
      font-size: 20px
      text-align: center
      font-weight: bold
      color: #fff
    a
      display: block
      width: 200px
      margin: 0 auto

  .chat-enter a
    display: block
    width: 200px
    margin: 10px auto 20px
.ad-button
  width: 100%
  margin-bottom: 10px

.article_comments
  margin-top: 20px

  h1
    padding: 10px 0px
    font-size: 25px
    font-weight: bold

  h2
    padding: 10px 0px
    font-size: 20px
    font-weight: bold

  .comments-area
    width: 100%
    #insertImage-1
      display: none
    #insertVideo-1
      display: none
    #insertFile-1
      display: none
    .fr-hs
      display: none

  .comments-message
    margin: 20px 0
    p.com_user_info
      padding: 5px 0px
      font-size: 15px
      font-weight: bold
      span
        font-weight: normal
        font-size: 10px
        color: #878587

    .comments-message-img
      img
        width: 100%
        min-width: 50px

    .comments-message-text
      min-height: 60px
      margin-left: 70px

.comments-access
  background-color: rgba(255, 79, 79, 0.81)
  padding-bottom: 20px
  p
    padding: 20px
    font-size: 20px
    text-align: center
    font-weight: bold
    color: #fff
  a
    display: block
    width: 200px
    margin: 0 auto

.comments-enter a
  display: block
  width: 200px
  margin: 10px 0

@import "_mobile.sass"
